<%= form_for(@pub_sub) do |f| %>
  <%= render 'errors' %>

  <div class="field">
    <%= f.label :blog_url %><br />
    <%= f.text_field :blog_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
